@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {

--azulescuro: #165394;
--azultommedio: ##3889E0;
--azulclaro: #59A9FF;
--amareloescuro:#946E2D;
--amrelo: #E0A338;
--azullogin: #51A1A6;
--azulbotao: #284E51;
}

html {
font-family: 'Roboto', sans-serif;
}

body {
display: block;
margin: 0px;
background-color: var(--azulclaro);
display: flex
}

#cantologin{
width: 500px;
height: 712px;
margin-top: 0%;
border-radius: 0px 30px 30px 0px;
background-color: var(--azulescuro);
display: flex;
flex-direction: column;
}

cantologin{ 
display: flex;
justify-content: space-evenly;
color: #ffffff;
margin: 0;

}

h1{ 
display: flex;
justify-content: space-evenly;
color: #ffffff;
margin: 0;

}

cantologin, h4{ 
display: flex;
justify-content: space-evenly;
color: #ffffff;
margin: 0;
}

.conteiner{
	display: flex;
	width: 49%;
	height: 200px;
	position: relative;


	margin-top: 14%;
	background-color: var(--azullogin);
	display: flex;
	flex-direction: column;
	}


button{
border-top: 0px;
border-bottom: 0px;
border-radius: 50px;
width: 100px;
border: solid 2px var(--azulclaro);
background-color: transparent;
margin-left: 70%;
color: white;
}

header, footer {
width: auto;
background: rgba(80,80,80,0.2);
line-height: 3em;

}


header {

border-top-right-radius: 10px;
border-top-left-radius: 10px;
height: 11 0px;
}

footer {
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
height: 50px;

}

ul{
display: flex;
justify-content: center;

}

header h1, footer h1, footer p {
text-align: center;

}


.conteiner {
display: flex;
width: 92%;
height: 618px;
margin-left: 4%;
position: relative;
float: left;
margin-top: 4%;
}

.h1{
margin-top: 200px;
}


.bgVerdeVintage	{background-color: var(--color5);}
.bgcoloer9  {background-color: var(--color9);}
.bgAzul     {background-color: var(--azul);}
.bgVerdeClaro {background-color: var(--color3);}
.bgVerde    {background-color: var(--verde);}
.bgAzulAgua	{background-color: var(--color9);}
.bgFalha    {background-image: url();}


.mt-05 		{margin-top: 5px;}
.mt-10 		{margin-top: 10px;}
.mt-15 		{margin-top: 15px;}

.mb-05 		{margin-bottom: 5px;}
.mb-10 		{margin-bottom: 10px;}
.mb-15 		{margin-bottom: 15px;}

.pd-05 		{padding: 5px;}

.txtBranco   {color: #ffffff;} 
.txtPreto	 {color: #000000;}

.borda-0   {border: none;}
.borda-1   {border: solid 1px;}
.borda-2   {border: solid 2px;}
.borda-r0  {border-radius: 0px;}
.borda-r5  {border-radius: 5px;}
.borda-r10 {border-radius: 20px;}


